{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>ImageSize</th>
                <th>Created</th>
                <th>Updated</th>
                <th>MineType</th>
                <th>OriginalName</th>
                <th>Dimensions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>
                    {#                    <img src="/images/upload/{{ _image.imageName }}" alt="{{ _image.imageName }}" class="card-img-top"#}
                    {#                      <img src="{{ vich_uploader_asset(_image, 'imageFile') }}" alt="{{ _image.imageName }}" class="card-img-top"#}
                    {#                      style="width: 10%; height: auto;">#}
                    {#                    <img src="{{ path('app_get_image', {'id': _image.id}) }}" alt="{{ _image.imageName }}" class="card-img-top"#}
                    {#                         style="width: 10%; height: auto;">#}
                    <img src="{{ path('app_glide_image', {'id': image.id}) }}" alt="{{ image.imageName }}"
                         class="">
                </td>
                <td>{{ image.imageSize }}</td>
                <td>{{ image.created ? image.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ image.updated ? image.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ image.mineType }}</td>
                <td>{{ image.originalName }}</td>
                <td>{{ image.dimensions ? image.dimensions|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('app_image_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('app_image_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_new') }}">Create new</a>
{% endblock %}
