{% extends 'base.html.twig' %}

{% block title %}Image list{% endblock %}

{% block body %}
    <div class="container mx-4 my-4">
        <div class="float-end">
            <a class="btn btn-primary" href="{{ path('app_image_new') }}">Upload new image</a>
        </div>
        <div class="mt-2 mb-4">
            <h2>Image list</h2>

            <table class="table mt-4">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>ImageSize</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>MineType</th>
                    <th>OriginalName</th>
                    <th>Dimensions</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for image in images %}
                    <tr>
                        <td>{{ image.id }}</td>
                        <td>
                            {# //sans flysystem + config vichuploder #uri_prefix: /images/upload
                                <img src="/images/upload/{{ image.imageName }}" alt="{{ _image.imageName }}" class="card-img-top"#}
                            {# //sans flysystem vichuploder voir doc vich generating url https://github.com/dustin10/VichUploaderBundle/blob/master/docs/generating_urls.md
                                <img src="{{ vich_uploader_asset(_image, 'imageFile') }}" alt="{{ _image.imageName }}" class="card-img-top"#}
                            {#                      style="width: 10%; height: auto;">#}
                            {# // avec vichuploader + flysystem on a plus url car flysystem sert à cacher l'url
                               // il fau donc un controller qui demande l'image à flysytem et qui la donne
                            <img src="{{ path('app_get_image', {'id': image.id}) }}" alt="{{ image.imageName }}" class="card-img-top"#}
                            {#                         style="width: 10%; height: auto;">#}
{#                            <img src="{{ image.glideUrl }}" alt="{{ image.imageName }}"> #}{# la config de glide dans service.yaml demande à flysytem l'url #}
                            <img src="{{ image_glide_helper(image.imageName, {'w': 50, 'h': 50}) }}" alt="{{ image.imageName }}"> {# la config de glide dans service.yaml demande à flysytem l'url #}
                        </td>
                        <td>{{ image.imageSize }}</td>
                        <td>{{ image.created ? image.created|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ image.updated ? image.updated|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ image.mineType }}</td>
                        <td>{{ image.originalName }}</td>
                        <td>{{ image.dimensions ? image.dimensions|json_encode : '' }}</td>
                        <td>
                            <a href="{{ path('app_image_show', {'id': image.id}) }}">Show</a>
                            <br/>
                            <a href="{{ path('download_image', { 'fileName' : image.imageName, 'name' : image.originalName, 'size' : image.imageSize}) }}"
                            >Download</a>
                            {{ include('image/_delete_form.html.twig') }}

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
