<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block stylesheets %}
    <style>
        label.required:before {
            content: "*";
            color: #B0413E;
        }
    </style>
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
{#<nav class="navbar navbar-expand-lg bg-body-tertiary">#}
{#    <div class="container-fluid">#}
{#        <a class="navbar-brand" href="{{ path('app_home') }}">Home</a>#}
{#        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#            <span class="navbar-toggler-icon"></span>#}
{#        </button>#}
{#        <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#            <ul class="navbar-nav me-auto mb-2 mb-lg-0">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link"#}
{#                       {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}#}
{#                       href="{{ path('app_image') }}"#}
{#                    >Image</a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" aria-current="page" href="{{ path('app_property_index') }}">Property</a>#}
{#                </li>#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#                        Dropdown#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                        <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                        <li><hr class="dropdown-divider"></li>#}
{#                        <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
{#                </li>#}
{#            </ul>#}
{#            <form class="d-flex" role="search">#}
{#                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                <button class="btn btn-outline-success" type="submit">Search</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_login') }}">
            <img src="https://placeholder.pics/svg/150x50/888888/EEE/Log in" alt="..." height="36">
        </a>
        <a class="navbar-brand" href="{{ path('app_register') }}">
            <img src="https://placeholder.pics/svg/150x50/888888/EEE/Register" alt="..." height="36">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}
                       href="{{ path('app_image_index') }}"
                    >Image</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ path('app_property_index') }}">Property</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
